<!DOCTYPE html>
<html>
  <head>
    <title>Discretionary Spending App</title>
    <h1>Discretionary Spending App!</h1>
  </head>
  
  <body>
    <%= link_to "Click Here for Expenditures", expenditures_path %>
  </body>
</html>
